*{
    padding: 0px;
    margin: 0px;
}

.header{
  background-image: url("../assets/homepage_bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  padding: 2px 20px;
}

.navbar img{
  margin-top: 5px;
  height: 60px;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.logo_option_navbar{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register_navbar{
  margin-right: 150px;
}

.header_content{
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_header_content{
  height: auto;
  display: flex;
}

.title_header_content h1{
  margin-top: 1.5em;
  max-width: 900px;
  text-align: center;
  font-size: 4.5rem;
  color: white;
}

.download_header_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: white;
}

.platform_download{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform_download img{
  margin: 0px 5px;
}

.body{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(173,173,173,255);
}

.footer img{
  height: 35px;
  margin: 5px 10px;
}

@media only screen and (max-width: 800px){
  .platform_download img{
    margin-top: 5px;
  }

  .title_header_content h1{
     font-size: 2em;
  }

  .platform_download{
    flex-direction: column;
  }
}

/* Register */

.header_register{
  background-image: url("../assets/bg-register.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#registration{
  background: rgb(238, 252, 255);
  border : 1px solid black;
  border-radius: 20px;
  width: 32vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

#register{
  font-size: 2em;
  color: rgb(122, 189, 211);
  display: flex;
  justify-content: center;
}

#registration div div{
  display: flex;
  color: rgb(122, 189, 211);
  font-size: 1.5rem;
  margin: 1vh 0;
}

#registration div div input{
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#registration div div input[type="checkbox"]{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#registration div div input:focus{
  background: rgba(27, 148, 218, 0.5);
}

#tandc{
  justify-content: center;
}

#submit{
  background: rgba(14, 212, 47, 0.5);
  border: 1px solid white;
  height: 50px;
  font-size: 1.5em;
  color: rgb(238, 252, 255);
  border-radius: 20px;
}

.error{
  color: red;
}

@media only screen and (max-width: 800px){
  #registration div div{
    font-size: 1em;
  }
  #register{
    font-size: 1.5em;
  }
  #submit{
    height: 30px;
    font-size: 1em;
  }
}
/* Register End */

/* Gallery */
.header_gallery{
  background-image: url("../Assets/bg-gallery.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: color;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.slideshow{
  max-width: 1000px;
  position: relative;
  margin-top: 11vh;
  margin-bottom: 3vh;
}

.slideshow h1{
  text-align: center;
  margin-bottom: 5vh;
  color: white;
  font-size: 4em;
}

.slides img{
  border: 4px solid rgba(236, 55, 0, 0.5);
  width: 100%;
}

#prev, #next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.8s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev{
  margin-left: 7px;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover{
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 800px){
  .slideshow h1{
    font-size: 2em;
  }
}

/* Gallery End */

/* Characters */


.characters_body{
  height: 110vh;
  width: auto;
  background-image: url("../assets/light-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characters_body h1{
  margin-bottom: 20px;
  font-size: 3rem;
  color: white;
}

.characters_content{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.characters_category{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
  /* background-color: black; */
}

.characters_category h2{
  writing-mode: vertical-rl;
  text-orientation: upright;
  border: 2px solid black;
}

.characters_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.characters_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dark{
  display: none;
}

.char_active{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  /* border: 2px solid green; */
}

.char_inactive{
  display: none;
}

.category_button{
  cursor: pointer;
  color: white;
  margin: 5px;
}

.char_card_light{
  background-color: rgba(0, 0, 0, 0.4);
  /* margin: 5px; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  border: 3px solid #47dbd2;
  border-radius: 5px;
  overflow: hidden;
}

.char_card_dark{
  background-color: rgba(0, 0, 0, 0.4);
  /* margin: 5px; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 15%;
  border: 3px solid darkblue;
  border-radius: 5px;
  overflow: hidden;
}

.char_card_light img, .char_card_dark img{
  height: 90%;
  /* margin-right: 50px; */
}

.char_card_light h3{
  border-top: 2px solid #47dbd2;
  width: 100%;
  text-align: center;
}

.char_card_dark h3{
  border-top: 2px solid darkblue;
  width: 100%;
  text-align: center;
}


#albedo:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#albedo:hover #albedo_img{
  content: url("../Assets/albedo_hover.png");
}

#jean:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#jean:hover #jean_img{
  content: url("../Assets/jean_hover.png");
}

#amber:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#amber:hover #amber_img{
  content: url("../Assets/amber_hover.png");
}

#bennett:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#bennett:hover #bennett_img{
  content: url("../Assets/bennett_hover.png");
}

#chongyun:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#chongyun:hover #chongyun_img{
  content: url("../Assets/chongyun_hover.png");
}

#xiao:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#xiao:hover #xiao_img{
  content: url("../Assets/xiao_hover.png");
}

#beidou:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#beidou:hover #beidou_img{
  content: url("../Assets/beidou_hover.png");
}

#diluc:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#diluc:hover #diluc_img{
  content: url("../Assets/diluc_hover.png");
}

#fischl:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#fischl:hover #fischl_img{
  content: url("../Assets/fischl_hover.png");
}

#mona:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#mona:hover #mona_img{
  content: url("../Assets/mona_hover.png");
}

.modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibilty 0s, opacity 0.3s;
}

.bg-active{
  visibility: visible;
  opacity: 1;
}

.modal{
  background-color: white;
  width:65%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-image: url("../assets/light_modal_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.char_img_modal{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.char_img_modal img{
  height: 100%;
  width: auto;
}

.char_detail_modal{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char_name_modal{
  /* border: 3px solid green; */
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char_name_modal h1{
  font-size: 3.2rem;
  color: orange;
  -webkit-text-stroke: 1px white;
}

.char_story_modal{
  /* border: 3px solid green; */
  height: 55%;
}

.char_story_modal p{
  color: white;
  font-size: 1.4rem;
}

.close_modal{
  /* border: 3px solid green; */
  height: 15%;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: flex-start;
  padding-right: 50px;
}

.close_modal button{
  height: 70%;
  width: 20%;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  border: none;
  cursor: pointer;
  color: white;
}

.close_modal button:hover{
  background-color: rgba(0,0,0,0.5);
}